    <!-- Header on every page -->
    
    <header>
      <nav class="navbar">
        <div class="row">
          <div class="col-sm-4 text-center">
            <p class="label_18">UserName</p>
          </div>
          <div class="col-sm-4 text-center">      
            <a href="/home.html">
              <p class="label_18">Home</p>  
            </a>
          </div>
          <div class="col-sm-4 text-center">
              <p class="label_18">Logout</p>
          </div>
        </div>
      </nav>
    </header>