    <!-- Header on every page -->
    
    <header>
      <nav class="navbar">
        <div class="spacer_5"></div>
        <div class="row">
          <div class="col-sm-4 text-center">
            <p class="label_18">UserName TODO</p>
          </div>
          <div class="col-sm-4 text-center">      
            <a href="/">
              <p class="label_18">Index</p>  
            </a>
          </div>
          <div class="col-sm-4 text-center">
            <a href="/logout" class="btn btn-default">Logout</a>
          </div>
        </div>
      </nav>
    </header>