<!DOCTYPE html>
<html>
    <head>
      <title>{{title}}</title>
      <meta name="Base Project" content="MMcP Base Project">
      <link id="favicon" rel="icon" href="https://cdn.hyperdev.com/us-east-1%3A680db80e-4e9b-4c74-bc8d-ab553725bb7c%2Fsp-studio.jpg" type="image/x-icon">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
  <body>
    {% include '_header.html' %}
    
    <main>
      <a href="/">
        <span>Index</span>  
      </a>    
    </main>

    {% include '_footer.html' %}
    {% include '_sharedScriptsAndStyles.html' %}

  </body>
</html>