<!DOCTYPE html>
<html>
    <head>
      <title>{{title}}</title>
      <meta name="Deloitte 2016" content="HR Analyst Challenge">
      <link id="favicon" rel="icon" href="https://hyperdev.com/favicon.ico" type="image/x-icon">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
  <body>
    {% include '_header.html' %}
    
    <main>
      <a href="/marvin.html">
        <span>Talk to marvin!</span>  
      </a>    
    </main>

    {% include '_footer.html' %}
    {% include '_sharedScriptsAndStyles.html' %}

  </body>
</html>