 <!DOCTYPE html>
<html>
    <head>
      <title>{{title}}</title>
      <meta name="Base Project" content="MMcP Base Project">
      <link id="favicon" rel="icon" href="https://cdn.hyperdev.com/us-east-1%3A680db80e-4e9b-4c74-bc8d-ab553725bb7c%2Fsp-studio.jpg" type="image/x-icon">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
  <body>
    {% include '_header.html' %}

    <main>
      <div class="row inline-block">
          <div class="row">
            <p class="bold">Welcome to my base project </p>
          </div>
          <div class="spacer_10"></div>

          <div class="row">
            
            <div>
              <p>Login</p>
              <form>
      		      <p>Username:</p>
                <input type="text" maxlength="100" placeholder="Username" id="usernameInput">
                <div class="spacer_5"></div>
                <p>Password:</p>
                <input type="text" maxlength="100" placeholder="Password" id="passwordInput">
                <button type="submit" id="submitPasswordBtn">Login</button>
                <div class="alert alert-danger fade in hideByDefault" id="loginError">
      					  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      					  <strong>Error!</strong> Username and password do not match
      				  </div>
              </form>
            </div>
            
            <div>
              <p>Register</p>
              <form>
      		      <p>New Username:</p>
                <input type="text" maxlength="100" placeholder="Your New Username" id="newUsernameInput">
                <div class="spacer_5"></div>
                <p>Password:</p>
                <div class="alert alert-info in">
					        Currently Passwords are not hashed, please input a simple password that is not used elsewhere.
				        </div>
                <input type="text" maxlength="100" placeholder="Password" id="newPassword1Input">
                <div class="spacer_5"></div>
                <input type="text" maxlength="100" placeholder="Reenter Password" id="newPassword2Input">
                <div class="spacer_5"></div>
      				  <button type="submit" id="createAccountBtn">Create Account and Refresh Page</button>
      				  <div class="alert alert-danger fade in hideByDefault" id="passwordNotMatchAlert">
          				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          				<strong>Error!</strong> Passwords do not match!
          			</div>
              </form>


			  

            </div>
          
          </div>

      </div>
    </main>

    {% include '_footer.html' %}
    {% include '_sharedScriptsAndStyles.html' %}
    <script src="/index.js"></script>

  </body>
</html>
